<!DOCTYPE html>
<html ng-app="todoModule">

<head>
  <title>Todo List</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="todoListController">
  <div class="container">
    <h3>Simple todo list example</h3>
    <input ng-model="title">
    <button ng-click="addToTodoList()">Add</button>

    <ul>
      <li ng-repeat="t in tasks track by $index">{{ t }}<button ng-click="deleteTodoTask()">Del</button></li>
    </ul>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="./app/app.js"></script>
  <script src="./app/todoList.js"></script>
</body>

</html>